/*********************************
          HTML selectors
 *********************************/
html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

form, fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
    border: none;
    color: #4C4C4C;
}

a:hover {
    color: #cf102d;
}

img {
    border: none;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul, ol {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    padding: 0px;
    margin: 0px;
}

ul li, ol li {
    margin: 0px;
    padding: 0px;
}

/*********************************
          Body styles
 *********************************/
/*#body {
    min-height: 500px;
}*/

/*********************************
          Header styles
 *********************************/
#header {
    padding: 45px 0 10px;
}

#header > .logo {
    margin-bottom: 23px;
}

#header form {
    margin-left: 80px;
    float: left;
}

#header form + form {
    margin-left: 15px;
}

#header form .oneline-element {
    width: 200px;
}

#header form legend, .social h5 {
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 8px;
    font-weight: normal;
    margin: 0;
}

#header .social .icons > * {
    display: block;
    float: left;
    background-image: url("../images/layout/header-social-icons.png");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

#header .social .icons > * + * {
    margin-left: 6px;
}

#header .social .icons .facebook {
    background-position: 0px 0px;
}

#header .social .icons .twitter {
    background-position: -36px 0px;
}

#header .social .icons .instagram {
    width: 33px;
    background-position: -73px 0px;
}

#header .social .icons .vimeo {
    width: 33px;
    background-position: -106px 0px;
}

#header .social .icons .youtube {
    width: 70px;
    background-position: -140px 0px;
}

#nav {
    font-size: 21px;
}

#nav > * {
    display: inline-block;
}

#nav .trigger, #nav > a {
    cursor: pointer;
    color: #4C4C4C;
    text-transform: uppercase;
    padding: 6px 12px;
}

#nav .trigger:hover, #nav > a:hover {
    color: #cf102d;
}

#nav > * + * {
    margin-left: 52px;
}

#nav .dropdown {
    font-size: 16px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
}

#nav .dropNav.current .trigger {
    color: red;
}

#nav .dropNav.active .trigger, #nav .dropNav.active .dropdown {
    color: black;
}

#nav .dropNav.active .dropdown {
    padding-bottom: 8px;
}

#nav .dropNav.active .dropdown li {
    padding: 3px 12px;
}

#nav .dropNav.active .dropdown a {
    display: block;
    color: black;
    font-weight: normal;
}

#nav .dropNav.active .dropdown li a:hover {
    color: red;
}

#account > * {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    height: 13px;
    display: inline-block;
    margin-top: 19px;
}

#account > * + * {
    margin-left: 27px;
}

#account > .cart {
    background: url("../images/layout/cart-bg.png") no-repeat;
    padding-left: 23px;
}

/*********************************
          Footer styles
 *********************************/
#footer-wrapper {
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px 0;
    margin-top: 36px;
}

#footer a {
    color: #ffffff;
}

#footer a:hover {
    color: #cf102d;
}

#footer ul, #footer ol {    
    text-transform: uppercase;
}

#footer .content ul li + li, #footer .content ol li + li {
    margin-top: 2px;
}

#footer > .content {
    background: url("../images/layout/footer-bg-y.png") repeat-y;
    font-size: 10px;
}

#footer > .content > * {
    float: left;
    overflow: hidden;
    padding: 11px;
}

#footer > .content > .section1 {
    width: 296px;
}

#footer > .content > .section1 legend {
    text-transform: none !important;
}

#footer > .content > .section2 {
    width: 231px;
}

#footer > .content > .section3 {
    width: 218px;
}

#footer > .content > .section4 {
    width: 127px;
}

#footer > .content h4, #footer > .content legend {
    font-size: 11px;
    font-weight: none;
    margin-bottom: 13px;
    text-transform: uppercase;
}

#footer > .content p {
    font-size: 9px;
}

#footer form .oneline-element input {
    padding: 7px 9px;
}

#footer .section1 > ul {
    padding: 0 20px 10px;
    border-bottom: #9f9f9f 1px solid;
    margin-bottom: 17px;
    font-size: 12px;
}

#footer .section1 form .oneline-element input[type="text"] {
    width: 230px;
}

#footer .section1 form + p {
    margin-top: 20px;
}

#footer form .oneline-element input[type="submit"] {
    color: #242424;
    background: white;
}

#footer form .oneline-element input[type="submit"]:hover {
    background: #cf102d;
    color: white;
}

#footer .section2 .floatLeft + .floatLeft {
    margin-left: 35px;
}

#footer .section4 {
    text-align: center;
}

#footer .section4 p {
    margin-top: 12px;
    font-size: 10px;
    line-height: 13px;
}

#footer .social {
    margin-top: 18px;
}

#footer .links {
    width: 75%;
    margin: 30px auto 0;
}

#footer .links a {
    text-transform: uppercase;
    font-size: 11px;
}

/* ie */
#footer legend {
    color: white;
}

/*********************************
          Global styles
 *********************************/
#header, #body, #footer {
    width: 960px;
    margin: 0 auto;
}

#banner {
    -webkit-box-shadow:  0px 0px 3px 2px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 0px 3px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.cycleNav {
    list-style-type: none;
    margin: 0;
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    -webkit-border-radius: 10px;    
    border-radius: 10px;
    -webkit-box-shadow:  0px 1px 2px 1px rgba(0, , 0, 0.5);
    box-shadow:  0px 1px 2px 1px rgba(0, , 0, 0.5);
}

.cycleNav .cycleNavItem {
    float: left;
    display: block;
    width: 10px;
    height: 10px;
    background: #a3a3a3;
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    margin-top: 1px;
}

.cycleNav .cycleNavItem.current {
    background: #fff;
}


.cycleNav .cycleNavItem:hover {
    background: #cf102d;
}

.cycleNav * + .cycleNavItem {
    margin-left: 10px;
}

.cycleNav .cycleStartStop {
    background-image: url("../images/banner/cycle-start-stop.png");
    background-repeat: no-repeat;
    background-position: top right;
    width: 10px;
    height: 12px;
    display: block;
    float: left;
    cursor: pointer;
    margin-right: 7px;
}

.cycleNav .cycleStartStop:hover {
    background-position: bottom right;
}

.cycleNav .cycleStartStop.active {
    background-position: top left;
}

.cycleNav .cycleStartStop.active:hover {
    background-position: bottom left;
}

form .oneline-element {
    background: #d9d9d9;
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}

form .oneline-element input {
    font-size: 11px;
    border: none;
    margin: 0;
}

form .oneline-element input[type="text"] {
    color: #797979;
    background: none;
    border: none;
    outline: none;
    display: block;
    padding: 10px;
    font-style: italic;
}

form .oneline-element input[type="submit"] {
    color: white;
    background: black;
    margin-left: -4px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
}

form .oneline-element input[type="submit"]:hover {
    background: #cf102d;
    color: white;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.alignCenter {
    text-align: center;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0px;
    padding-top: 0 !important;
    float: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.fluidWidth {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.fluidWidth .fluidItem {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.fluidWidth .fluidStretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
}

.social .icons > * {
    display: block;
    float: left;
    background-image: url("../images/layout/social-icons.png");
    background-repeat: no-repeat;
}

.social .icons > * + * {
    margin-left: 6px;
}

.social .icons .facebook {
    width: 32px;
    height: 32px;
    background-position: 0px 0px;
}

.social .icons .twitter {
    width: 32px;
    height: 32px;
    background-position: -32px 0px;
}

.social .icons .instagram {
    width: 30px;
    height: 30px;
    background-position: -64px 0px;
}

.social .icons .vimeo {
    width: 30px;
    height: 30px;
    background-position: -94px 0px;
}

.social .icons .youtube {
    width: 63px;
    height: 28px;
    background-position: -124px 0px;
}

.social .icons .youtube.alt {
    background-position: -186px 0px;
}

.products {
    width: 960px;
    height: 217px;
    overflow: hidden;
}

.products .cycleSlider {
    height: 217px;
}

.products .cycleNav {
    display: none;
}

.products .slide {
    padding: 0 22px;
    width: 960px;
}

.products .product {
    float: left;
    color: #4c4c4c;
    width: 99px;
    height: 185px;
    font-size: 11px;
    padding: 15px;
    border: 1px solid transparent;
    display: block;
    cursor: pointer;
}

.products .product:hover {
    border: 1px solid #c4c4c4;
    background: white;
}

.products .product .title {
    text-transform: uppercase;
    font-weight: bold;
}

.products .product .price {
    font-size: 10px;
}

.products .product p {
    padding: 19px 11px 0;
}

.products .product p + p {
    padding-top: 8px;
}

.overlayWrapper {
    position: relative;
}

.overlayWrapper .overlay {
    display: none;
    width: inherit;
    height: inherit;
    position: absolute;
}

.overlayWrapper .overlay .bg {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

.overlayWrapper .overlay .content {
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 100%;
}

.overlayWrapper .overlay .content > * {
    padding: 14px;
}

.overlayWrapper .overlay .content > * + * {
    padding-top: 0;
}

.overlayWrapper .overlay {
    display: block;
}

.superlink {
    cursor: pointer;
}

.sectionTitle {
    color: #808080;
}

#body > .sectionTitle {
    margin-top: 40px;
}