#body > * + * {
    margin-top: 75px;
}

#banner {
    width: 960px;
    height: 367px;
}

#banner .cycleSlider {    
    height: 367px;
}

.articles {
    width: 934px;
    margin: 0 auto;
}

.article {
    position: relative;
    width: 298px;
    height: 377px;
    overflow: hidden;
    float: left;
    color: #d8d8d8;
    font-size: 12px;
    display: block;
}

.article a {
    color: #d8d8d8;
    font-size: 10px;
}

.article + .article {
    margin-left: 20px;
}