#banner.team {
    height: 367px
}

#banner.member {
    height: 370px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#banner.member .nav {
    height: inherit;
    float: left;
    bottom: auto;
    width: 150px;
    text-align: left;
    padding: 0;
}

#banner.member .nav li {
    float: none;
    width: auto;
    height: auto;
    background: none;
    margin: 0;
    color: white;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: relative;
}

#banner.member .nav li a {
    display: block;
    padding: 8px 0 8px 15px;
}

#banner.member .nav li a:active, #banner.member .nav li.active a {
    font-weight: bold;
    color: #cf102d;
}

#banner.member .nav li:first-child {
    margin-top: 9px;
}

#banner.member .rotate {
    width: 784px;
    height: 370px;
    overflow: hidden;
}

.roster {
    margin-top: 40px;
    width: 960px;
    height: 420px;
    /*overflow: hidden;*/
}

.roster .cycleNav {
    display: none;
}

.roster .slide {
    padding: 0 60px;
}

.person {
    float: left;
    position: relative;
}

.roster .person {
    width: 200px;
    height: 201px;
    background: url("../images/team/roster/large/team-bg.png") no-repeat;
    padding: 5px 0 0 6px;
    margin-left: 3px;
}

.person .outline {
    position: absolute;
    text-align: center;
}

.roster .person .outline {
    border: 8px solid white;
    top: 5px;
    left: 6px;
    width: 175px;
    height: 175px;
}

.roster .person .overlay {
    width: 191px;
    height: 191px;
}

.roster .person .overlay a {
    color: #d9d9d9;
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 12px;
}

.contentWrapper {
    margin-top: 40px;
}

.contentWrapper .videos, .contentWrapper .blog {
    float: left;
    width: 385px;
    margin-left: 62px;
}

.contentWrapper .content {
    height: 500px;
    overflow-y: scroll;
    padding: 0;
    margin: 5px 0 10px 0;
    list-style-type: none;
    color: #adadad;
    font-size: 11px;
}

.contentWrapper .content li {
    clear: both;
    border: 2px solid #eeeeee;
}

.contentWrapper .content .playIcon {
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: 50%;
    margin-left: -24px;
    display: none;
}

.contentWrapper .content li + li {
    margin-top: 20px;
}

.contentWrapper .content .feature {
    float: left;
    margin-bottom: -2px;
    margin-right: 20px;
    position: relative;
}

.contentWrapper .content .text {
    padding: 20px 20px 0 0;
    -webkit-box-shadow: inset  0px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset  0px 3px 3px rgba(0, 0, 0, 0.2);
}

.contentWrapper .content .text > * + * {
    margin-top: 10px;
}

.contentWrapper .content h4 {
    color: #4c4c4c;
    font-size: 12px; 
}

.contentWrapper .content a {
    color: #4c4c4c;    
}

.contentWrapper .content li:hover {
    background: black;
}

.contentWrapper .content li:hover h4 {
    color: #fff; 
}

.contentWrapper .content li:hover a {
    color: #fff;    
}

.contentWrapper .content li:hover a {
    color: #fff;    
}

.contentWrapper .content li:hover .playIcon {
    display: block;
}

.contentWrapper .content .floatRight {
    font-style: italic;
}
.contentWrapper h2, .contentWrapper a {
    color: #808080;    
}

.products .product {
    margin-left: 45px;
}

.followUs {
    background-color: #e2e2e2;
    width: 893px;
    border: 2px white solid;
    -webkit-box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 30px 15px;
}

.followUs .person {
    width: 180px;
    height: 86px;
    background: url("../images/team/roster/small/team-bg.png") no-repeat left top;
    padding: 4px 0 0 5px;
    margin: 30px 19px 0;
}

.followUs .person img {
    float: left;
    margin: 0 8px 8px 0; 
}

.followUs .person .info {
    padding: 5px;
}

.followUs .person .info h5 {
    text-transform: uppercase;
    color: #4c4c4c;
    margin-bottom: 10px;
}

.followUs .person .info .facebook, .followUs .person .info .twitter  {
    display: block;
    height: 18px;
    float: left;
}

.followUs .person .info .twitter {
    background: url("../images/team/roster/small/social.png") no-repeat left top;
    width: 52px;
}

.followUs .person .info .facebook {
    background: url("../images/team/roster/small/social.png") no-repeat -52px top;
    width: 36px;
    margin-left: 4px;
}

.shareIcons {
    margin: 20px 40px;
}

.shareIcons > a {
    display: block;
    float: right;
    background-image: url("../images/team/member/share.png");
    background-repeat: no-repeat;
    height: 22px;
}

.shareIcons > a + a {
    margin-right: 20px;
}

.shareIcons > .email {
    background-position: 0 0;
    width: 26px;
}

.shareIcons > .pinterest {
    background-position: -26px 0;
    width: 40px;
}

.shareIcons > .twitter {
    background-position: -66px 0;
    width: 57px;
}

.shareIcons > .facebook {
    background-position: -123px 0;
    width: 47px;
}

.info {
    color: #4c4c4c;
}

.info p {
    line-height: 28px;
    margin-top: 25px;
    font-size: 15px;
}

.videoPlayer {
    width: 672px;
    height: 379px;
    margin: 30px 0 0 30px;
    -webkit-box-shadow:  0px 0px 4px 3px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.videoList {
    width: 180px;
    height: 379px;
    margin: 30px 30px 0 0;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
}

.videoList ul {
    margin: 3px 0;
}

.videoList li {
    width: 162px;
    height: 91px;
    cursor: pointer;
    -webkit-box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-left: 7px;
}

.videoList li + li {
    margin-top: 5px;
}

.videoList li .activeMarker {
    position: absolute;
    top: -1px;
    left: -7px;
    display: none;
}

.videoList li.active .activeMarker {
    display: block;
}